* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway';
}

/* Modo claro/oscuro */
html:has(#switchTheme:checked) {

    body,
    main,
    .album,
    .container,
    input,
    textarea,
    select,
    .list-group-item,
    .card,
    td,
    p,
    .images,
    .card-footer,
    .rating-section,
    tr,
    .modal-content,
    .modal,
    #file-upload {
        background-color: #1E1E2E !important;
        color: white !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white !important;
    }

    header {
        border-bottom: 1px solid #dee2e6;
    }

    a.btn {
        background-color: #333 !important;
        color: white;
    }

    .related-link,
    p>a {
        color: #fff;
    }

    p>a:hover {
        color: #0a58ca;
    }

    .modal-content {
        border: 1px solid #dee2e6;
    }

    .standar {
        color: #6c757d !important;
    }

    .premium {
        color: #0d6efd !important;
    }

    .gold {
        color: #ffc107 !important
    }
}

/* Estilo header y navbar */

header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav ul {
    width: 100%;
    justify-content: end;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item {
    margin: 0 .65rem;
}

a,
.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link img {
    object-fit: cover;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

a.dropdown-toggle {
    border: 1px solid #333 !important;
}

li.nav-item.dropdown {
    min-width: 190px;
}

span#profile-name {
    font-size: .75em;
    display: inline;
    overflow: hidden;
}


.navbar-nav .dropdown-menu,
.badge {
    position: absolute;
}

.cart-link {
    position: relative;
}

.badge {
    width: 20px;
    height: 20px;
    background-color: crimson;
    color: white;
    border-radius: 50%;
    display: flex;

    font-size: .65rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    top: -4px;
    left: 24px;
}

.checkbox-theme {
    padding: .25rem 1rem;
    display: block;
    width: 100%;
}

label.form-check-label {
    vertical-align: middle;
    margin-left: .5em;
}

.form-switch .form-check-input {
    background-image: url('../img/moon.png');
    outline: none;
    height: 20px;
    width: 40px;
}

.form-switch .form-check-input:focus {
    background-image: url('../img/moon.png');
    outline: none;
    box-shadow: none;
    border: 1px solid #333;
}

.form-switch .form-check-input:checked {
    background-color: #212529;
    border: 1px solid #333;
    background-image: url('../img/cloudy-day.png');
    outline: none;
}

/* fin estilos header y navbar */

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.cursor-active {
    cursor: pointer;
}

.left {
    float: left;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

main {
    min-height: calc(100vh - 210px);
}

p>a {
    color: #333;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

/* Estilo cart */
.product-info {
    width: 262px;
    height: 100%;

    margin: 2rem auto;
}

/* Estilo products */
.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}


/* Estilo product-info */
.checked {
    color: orange;
}

/* Estilo de productos relacionados */
.related-product {
    width: 12rem;
    cursor: pointer;
}

.related-img {
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 1.5em 0;
    margin: 0 auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1 1 60%;
}

.main-image {
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 1rem;
    width: 100%;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.thumbnail {
    height: 80px;
    width: 80px;
    object-fit: cover;
    cursor: pointer;

    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.product-details {
    flex: 1 0 35%;
    margin: 0 .85rem;
}

.product-title {
    font-weight: 700;
    color: #000;
    letter-spacing: 1.5px;
}

.product-price {
    color: #000;
    font-weight: 300;
}

.product-description {
    font-size: 0.9rem;
    color: #565959;
}

.product-sold {
    font-size: 0.85rem;
    color: #6c757d;
}


/* Estilo mi perfil */

.profile-container {
    background-color: #565959;
    height: 125px;
}

.profile-container,
.form-container {
    max-width: 900px;
    margin: .8em auto;
}

.profile-banner {
    position: absolute;
    display: flex;
    padding: 1rem;

    & h1 {
        color: white;
        margin: 1.5rem .5rem;
        height: fit-content;
    }
}

.profile-img {
    margin-top: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    & .img-profile {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    & .input-file,
    label {
        position: absolute;
    }

    & .input-file {
        visibility: hidden;
    }

    & label {
        width: 150px;
        height: 150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.form-container {
    margin-top: 6rem;
}

fieldset {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

    & label {
        display: flex;
        align-items: center;
        justify-content: end;

        & span {
            width: 100%;
        }
    }

    & input {
        text-align: end;
        padding: .32em;
        font-size: .75em;
        border: none;
        width: 100%;
    }

    & input:focus {
        outline: none;
    }
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.alert {
    width: max-content !important;
}

@media screen and (min-width: 760px) {
    .image-container {
        flex-basis: 45%;
    }

    fieldset {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 992px) {
    nav ul {
        align-items: center;
    }

    .badge {
        left: 30px;
    }

    .profile-banner {
        & h1 {
            margin: 1rem;
        }
    }

    .edit-icon {
        opacity: 0;
        transition: opacity ease-in-out 0.5s;
    }

    .edit-icon:hover {
        opacity: 1;
    }
}